{% extends 'base.html' %}
{% block title %}
    - Rakitra
{% endblock %}

{% block body_content %}
<div class="contaniner">
    <div class="row">
        <div class=" mx-auto col-12 col-md-6">
            <form action="/rakitra/insertion" id="mpino-form" method="POST">
                <div class="text-center">
                    <h1> Mampididtra rakitra </h1>
                </div>
                <div class="form-group mb-3">
                    <label for="date-input" class="form-label">Date de depot</label>
                    <input type="date" id="date-input" name="dateDepot" required class="form-control"> 
                </div>
                <div class="form-group mb-3">
                    <label for="montant-input" class="form-label">Montant</label>
                    <input type="text" id="montant-input" name="montant" required class="form-control" value="0.0"> 
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" id="form-submit" class="btn btn-success w-100">
                            <div class="" id="sumbit-status" role="status">
                                <span class="" id="submit-text">Inserer</span>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}